---
layout: home
permalink: /archive/
---

<div class="archive">

  {% for category in site.categories %}
    <!-- A category is an array with the title as its first object, and all posts
    in that category as its second object -->
    <h2>{{ category[0] }}</h2>

    <ul>
      {% for post in category[1] %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  {% endfor %}

</div>


<center><a href="/why-we-started-junto-studio">Why We Started Junto Studio</a></center>
    
      
      <h2>Ed/Tech</h2>
      <ul>

      <li><a href="/what-a-skateboard-ramp-taught-me-about-education">What a skateboard ramp taught me about education</a></li>



      <li><a href="/stop-the-world-its-moving-too-fast">Stop the world, it's moving too fast!</a></li>  


      <li><a href="/all-the-world-is-my-school">All the world is my school</a></li>



      <li><a href="/3-learning-techniques-for-staying-up-to-date-with">3 Learning Techniques for Staying up to date with new Technologies</a></li>  



      <li><a href="/how-technology-can-make-classrooms-more-human-by">How Technology Can Make Classrooms More Human: By freeing up time for teachers</a></li>  



      <li><a href="/how-technology-can-make-classrooms-more-human">How Technology Can Make Classrooms More Human: Letting students choose what they learn.</a></li>  
      


      <li><a href="/how-technology-can-make-classrooms-more-human">How Technology Can Make Classrooms More Human: Replacing degrees with life.</a></li>



      <li><a href="/how-technology-can-make-classrooms-more-human">How Technology Can Make Classrooms More Human: Providing world-class education to those in the poorest locations.</a></li>
  
    
      
      </ul>
      <h2>Coding</h2>
      <ul>



      <li><a href="/start-writing-your-own-story-by-learning-how-to">Why coding is a liberal art</a></li>



      <li><a href="/learning-git-with-mario-bros">Learning Git with Mario Bros</a></li>
    


      <li><a href="/why-ruby">Why Ruby</a></li>



      <li><a href="/why-you-should-learn-to-code">Why you should learn to code</a></li>
  
    
  
      </ul>
      <h2>Life learning experiences</h2>
      <ul>



      <li><a href="/how-understanding-the-origin-of-the-word">How understanding the origin of the word ‘priority’ can impact your productivity.</a></li>
    
    
    
      <li><a href="/rejection">Rejection</a></li>

    

      <li><a href="/how-I-found-the-cheapest-place-to-live-in-austin">How I Found the Cheapest Place to Live in Austin</a></li>



      <li><a href="/buckets-of-knowledge">Buckets of knowledge</a></li>



      <li><a href="/art-is-not-a-thing-dad">Art is not a thing, dad.</a></li>



      <li><a href="/5-ways-to-prepare-for-space-exploration">5 ways to prepare for Space Exploration</a></li>
  
    
    
      </ul>
      <h2>Our Culture</h2>
      <ul>
  
  
      <li><a href="/hacking-the-prototype-mindset-fun-fail-fast">Hacking The Prototype Mindset: Fun-Fail-Fast</a></li>
  
    

      <li><a href="/working-from-austin-we-are-officially-100">Working from Austin: We are officially 100% Remote</a></li>



      <li><a href="/metaphorically-speaking">METAphorically speaking...</a></li>



      <li><a href="/culture-fridays">Culture Fridays</a></li>



      <li><a href="/flexibility">Flexibility</a></li>



      <li><a href="/lets-design-like-supertramp">Let's Design like Supertramp</a></li>
  
    

      </ul> 
</div>

      </div>
    </div>
  </div>
      